
@import "tailwindcss";

html, body {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    height: 100vh;
    width: 100vw;
    background-color: transparent !important;
}

.black-outline {
    @apply md:border-2 md:border-black;
}